.background{
    position: relative;
    background: url('/images/a.jpg');
}

.background::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 768px){
    .background{
        background: url('/images/b.jpg');
    }
}
    
